@charset "utf-8";

#photo {
    width: 700px;
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    background-color: #ffffaa;
    padding: 50px 30px 50px 40px;
}

#photo img {
    top: 50px;
    left: 130px;
}


.ptable{
    display: block;
    width: 100%; height: 400px;
    text-align: center;
    margin-top: 0;
    background-color:#ffffff;
    margin-right: 150px;
    padding: 20px 0px 40px 70px;
    margin-bottom: 40px;
}

table {
    border-collapse: collapse;
    margin-top: 60px;
    width: 440px;
    margin-left: 40px;
    margin-right: auto;
    padding: 20px;
}

.pcontent1{
    display: block;
    width: 80%;
    background-color: #ffffff;
    max-width: 1200px;
    max-height: 480px;
    margin-right: 150px;
}

.pcontent{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
}

/*スマホ用メニューを非表示*/
#photo_min {
	display: none;
}